// FONTS

$ff-primary: "Noto Sans", sans-serif;

// FONT SIZES

$fs-big: 1.6rem;
$fs-regular: 1.4rem;
$fs-small: 1.2rem;
$fs-xsmall: 1rem;

// COLORS

$c-white: #fafafa;
$c-black: #262626;
$c-grey: #8e8e8e;
$c-grey-light: #c7c7c7;
$c-accent: #0095f6;
